version: '3.8'

services:
  calidad-app:
    build:
      context: ./calidad_back_V2.0
      dockerfile: Dockerfile
    container_name: calidad-app-v2
    ports:
      - "8083:3000"  # Puerto externo 8083 -> interno 3000
    env_file:
      - ./calidad_back_V2.0/.env
    volumes:
      - ./calidad_back_V2.0/uploads:/usr/src/app/uploads
      - ./calidad_back_V2.0/.env:/usr/src/app/.env
      - ./calidad_back_V2.0/public:/usr/src/app/public
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - USE_PROD_ORIGIN=true
    networks:
      - calidad-network

networks:
  calidad-network:
    driver: bridge
